/** BASE **/
html,
body,
#root,
#app {
  height: 100%;
}

body.modal-open {
  overflow: hidden;
}

/** NAV BAR **/
.nav-link {
  border: none !important;
}

.nav-link:active,
.nav-link:focus {
  outline: none !important;
}

/** PHOTO MODAL **/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background-color: #fff;
  width: 70%;
  height: auto;
  max-width: 70%;
  min-height: 30%;
  margin: 2em auto;
  padding: 30px;
  border-radius: 3px;
  overflow: auto;
  display: block;
}

.photo-date {
  margin-right: 2em;
}

#date {
  margin-right: 1em;
}

#photo-form-btn {
  margin-left: 1em;
}

#date-edit-btn {
  margin-left: 1em;
}

/** PHOTO STREAM **/
#main-body {
  padding-right: 1em;
}

.year {
  margin: 0.5em;
}

.image-element-class {
  margin-bottom: 2px;
}

video.image-element-class {
  height: auto;
  max-width: 300px;
}

.full-size-photo {
  max-width: 100%;
  max-height: 80%;
}

/** UPLOAD **/
.upload-field {
  margin-bottom: 1em;
}

.dropzone {
  border: 2px dashed gray;
  background-color: lightgray;
  height: 31em;
  width: 31em;
  margin-left: 2.3em;
}

.upload-thumb,
.video-thumb {
  max-width: 7.5em;
  max-height: 7.5em;
  border-radius: 10px;
  margin: 0 0.25em 0.25em 0.25em;
}

.upload-para {
  max-width: 8em;
  max-height: 8em;
  display: block;
}
/* #video-thumb,
#video-thumb-source,
#video-thumb-container {
  max-width: 7.5em !important;
  max-height: 7.5em !important;
  border-radius: 10px !important;
  margin: 0 0.25em 0.25em 0.25em;
} */

#thumb-close {
  position: absolute;
  z-index: 1000;
  top: 7;
  left: 2;
}
#thumb-list {
  list-style: none;
}

#upload-submit-btn,
#upload-clear-btn {
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.file-list {
  margin-left: 0.5em;
}

/** LOGIN AND REGISTRATION **/
#confirmInviteBody,
#loginBody,
#registerBody {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#confirmInviteForm,
#loginForm,
#registerForm {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#confirmInviteSumbit {
  margin-top: 1em;
}

#loginForm .checkbox {
  font-weight: 400;
}

#confirmInviteForm .form-control,
#loginForm .form-control,
#registerForm .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#confirmInviteForm .form-control:focus,
#loginForm .form-control:focus,
#registerForm .form-control:focus {
  z-index: 2;
}

#confirmInviteForm input[type="email"],
#loginForm input[type="email"],
#registerForm input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#confirmInviteForm input[input="password"],
#loginForm input[input="password"],
#registerForm input[input="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/** ERROR MESSAGE **/
#errorAlert {
  margin: 0 10rem 10rem 10rem;
}
