  <header>
  <!-- NAVBAR
    Sticky navbar
    Expands at large screen size
    Collapses at smaller screen sizes
  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="link-group">
      <a class="navbar-brand" href="#">Placeholder</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Filter</a>
          </li>
        <li class="nav-item">
          <!-- Clicking this should open a modal/sidebar with upload features -->
          <a class="nav-link" href="#">Upload</a>
        </li>
        <li class="nav-item" href="#">
          <!-- Clicking this should open a modal/sidebar showing recent activity -->
          <a class="nav-link" href="#">Activity</a>
        </li>
        <li class="nav-item" href="#">
          <!--
            Clicking on this should open a modal/sidebar showing account information
            Account information includes:
              Name/username
                * Ability to change display name
              Space used
              Account settings:
                Name/username
                email
                Notifications
                Delete account
              Add edit children/family members:
                * Clicking should list existing children/family members
                * Clicking on name lists name and birthdate and delete child/person button
                Add child/family member button
              Family/Friends:
                Should have a button/link to invite people to access:
                  * Select which family members the invitee can view
                  * Add an email address
                  * Add a message to the email
                  * Toggle yes/no whether person is your partner
                  * Toggle yes/no whether person can add content, comment, edit, favourite, delete photos
                Should list everyone who has owner access:
                  * Should list person's name and email address
                  * Should show which photos person can see
                  * Button to delete/remove access from person
                  * Allow edit email
                Should list everyone who is allowed to see pictures:
                  * Should list person's name and email address
                  * Should show which photos person can see
                  * Button to delete/remove access from person
                  * Allow edit email
          -->
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>