<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Photo Collection App registration form">
      <meta name="author" content="Julia Loy">
      <link rel="icon" href="../assets/favicon.ico">
      <title>Photo Collection App Login</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="../assets/photo.css"/>
  </head>
  <body id="registerBody" class="text-center">
    <form id="registerForm" class="form-register">
        <img class="mb-4" src="../assets/android-chrome-192x192.png" alt="" width="72" height="72">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required>
        <button class="btn btn-lg btn-dark btn-block" type="submit" id="registerSubmit" onsubmit="checkRegPass()">Register</button>
    </form>
  <script text="text/javascript">
      const checkRegPass = (evt) => {
          evt.preventDefault();
          const password = document.querySelector('#inputPassword');
          const confirmPassword = document.querySelector('#confirmPassword');
          console.log(pass);
          console.log(confirmPass);
      };

      checkRegPass();
  </script>
  </body>
</html>